.main{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #212121;
    color: whitesmoke;
    flex-direction: column;
}
.create-form label{
    color: whitesmoke !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px !important;
}
.navbar{
    border-bottom: 1px solid whitesmoke;
    height: 70px;
    margin-bottom:20px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar li{
    color: whitesmoke;
    display: inline-block;
    margin:10px 20px 0 0;
}
.navbar li a{
    color: whitesmoke;
    text-decoration: none;
    font-size:18px;
    padding: 0;
}
.logo{
    font-weight: 700;
    font-size: 32px;
    margin:25px 20px 25px 20px;
    float: left;
}
.content{
    text-align: center;
}
.dalis{
    border: 1px solid whitesmoke;
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding:30px 0;
}
.dalis a.dalis-a{
    color: red;
    text-transform: uppercase;
    font-weight:700;
    font-size:22px;
    text-decoration: none;
}
.dalis .outerParts{
    border-top: 1px solid whitesmoke;
    padding: 20px 0 0 0;
    margin-bottom:-10px;
}
.dalis-name{
    padding:20px;
}
.dalis .innerParts{
    padding: 0 0 30px 0;
    min-height:380px;
}
.dalis .outerParts a{
    color: whitesmoke;
    font-weight:600;
    text-decoration: none;
    padding:10px;
    margin: 20px 0;
    cursor: pointer;
}
button.prideti {
    background-color: whitesmoke;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
}
button.grizti{
    background-color: whitesmoke;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    border:none;
}
button.atsiliepimai{
    background-color: #212121;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
button.red-sal{
    background:none;
    border:none;
    color:white;
    cursor: pointer;
    margin-right:15px;
}
.create-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field {
    width: 200px;
}
li {
    display: block;
    transition-duration: 0.5s;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0rem;
    width:200px;
    height:auto;
    right: 0;
    float:right;
    display: none;
    background: #212121;

}

ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}

ul li ul li {
    clear: both;
    width: 100%;
}
.atsiliepimas{
    border: 1px solid whitesmoke;
    width: 20%;
    display: inline-block;
    margin: 5px;
    padding:30px 20px;
}
.rekomendacijos-div{
    display:block;
    margin:0;
}
.rekomendacijos{
    border: 1px solid whitesmoke;
    width: 15%;
    display: inline-block;
    margin: 5px;
    padding:30px 20px;
}
.rekomendacija-name{
    height:150px;
}
.rekomendacijos a.rekomendacija-a{
    color: red;
    text-transform: uppercase;
    font-weight:700;
    font-size:22px;
    text-decoration: none;
}
.rekomendacijos .innerParts{
    padding: 0 0 30px 0;
}

br {
color: white;
}